:root {
  --color-texto: #111;
  --color-fondo: #f7f7f7;
  --color-button:  #3498db;
  --color-imagen:  #3498db;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    min-height: 100vh;
}
.card{
    border: 1px solid black;
    width: 300px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.header {
    display: flex;
    background-color: lightgrey;

    gap: 20px;
}
.avatar {
    width: 100px;
    height: 100px;
    background-color: var(--color-imagen);
    border-radius: 50%;

}
.user-info{

}
.bio{

}
.stats {
    border-top: 1px solid lightgray;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;

}
.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.actions {

    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-primary {
    background-color: var(--color-button);
    padding: 15px;
    color: white;
    flex: 1 1 40%;
    border: 0px;
    border-radius: 5px;
}
.btn-secondary{
    background-color: lightgray;
    padding: 15px;
    color: white;
    flex: 1 1 20%;
    border: 0px;
    border-radius: 5px;
}